html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.under_construction {
  width: 50vw;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.video-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkIBIwQtX9R1KPVYx2Cgm6FGY10QoHs2cAxGAMC8CKf6sAAAAASUVORK5CYII=);
  opacity: 0.1;
  z-index: 1;
  transition: all 0.2s;
}
